<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--conexión hacia la base de datos-->

	<connectionStrings>
		
		<add name ="Minimarket" connectionString="server=DESKTOP-Q8PJKL5;Database=Inventario;user=sa;password=lesly123"
			 providerName="System.Data.SqlClient"/>
	
		
		
	<!--<add name ="Minimarket" connectionString="server=DESKTOP-ADN2HBR;Database=Inventario;user=sa;password=jordan06"
			 providerName="System.Data.SqlClient"/>-->




		<!--<add name ="Minimarket" connectionString="server=DESKTOP-2E4FHI6\MSSQLSERVER08;Database=Inventario;user=sa;password=jordan06"
			 providerName="System.Data.SqlClient"/>-->


	</connectionStrings>

</configuration>